<h1>
  Name: <%= @location[:name] %>
</h1>

<h4>
  Address: <%= @location[:address] %>
</h4>

<h4>
  Description: <%= @location[:description] %>
</h4>

<p><a href="/" class="btn btn-primary">Go Home</a></p>